<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>

</head>
<body>
<h1>test</h1>
 <ui id="messages"></ui>
 <textarea rows="2" id="message-textarea" placeholder="Write your message here..."></textarea>
 <button id="sendbutton">Send</button>
<script type="text/javascript">
    $(document).ready(function () {
        var socket = io.connect('http://127.0.0.1:5000/');
        socket.on('connect',function () {
            socket.send("User has connected!")
        });
    });
    </script>
</body>
</html>